<a href="{{{origSrc}}}" target="image">
{{#if source.length}}
    {{>immutable-app-image-picture}}
{{else}}
    {{>immutable-app-image-img}}
{{/if}}
</a>
<div class="center image-name">
    {{imageName}}
</div>